@page
@model ValidatingModel
@{
    ViewData["Title"] = "IBAN file validating";
}

<div class="text-left">
    <h4>@ViewData["Title"]</h4>
    <form asp-page="Validating" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label" asp-for="Upload"></label>
            <input class="form-control" asp-for="Upload" type="file" />
            <span asp-validation-for="Upload"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>@Model.Msg</p>
    </form>
    <a class="btn btn-primary"
       href="/text/iban.out.txt" download>Download</a>
</div>